
@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Regular.ttf");
    src: url("Junicode-Bold.ttf") format("truetype");
    src: url("fonts/Junicode-Italic.ttf");
    src: url("fonts/Junicode-BoldItalic.ttf");
    font-weight: normal;
  }


body {
    background-color: white;
    font-family: "Junicode";
    background-color: transparent;
  }


/* homepage styles  */
  .headers {
    font-size: 10em;
    color: black;
    font-family: "Junicode-Bold";
    margin-top: -100px;
    line-height:20px;
    margin-left:40px;
    margin-right: 40px;
}


h1{
  text-align: right;
  right: 50px;
  position: relative;
  font-size: 1.6em;
}

h2{
line-height: 8px;
font-size: 1.6em;
margin-top: 10px;
}

h3{
  font-size: 1.6em;
  line-height: 10px;
}

#author:hover {
color: red;
 }

  
