

@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Regular.ttf");
    font-weight: normal;
  }

@font-face {
  font-family: "Junicode-Bold";
  src: url("Junicode-Bold.ttf") format("truetype");
}


body {
    background-color: white;
    font-family: "Junicode";
    background-color: transparent;
    font-size: 16px;
  }

  #flex-container {
    display: flex;
    background-color: none;
    flex-direction: row;
     flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
  }


/* homepage styles  */
  .headers {
    font-size: 10.5em;
    color: black;
    font-family: "Junicode-Bold";
    margin-top: -130px;
    line-height:10px;
    margin-left:40px;
    margin-right: 40px;
    flex-grow: inherit;
    display: block;
    margin-left: -2px;
}


h1{
  text-align: right;
  position: relative;
  font-size: 2em;
  line-height: 2px;
}

h2{
line-height: 2px;
font-size: 2em;
margin-top: 10px
}

h3{
  font-size: 2em;
  line-height: 2px;
  margin: 0 auto;
}

#author{
  font-size: 4em;
  line-height: 65px;
  position: absolute;
  top: 400px;
  right: 315px;
}

.punctuation{
  line-height: 5px;
  font-family: "Junicode-Bold";
  font-size: 18em;
  /* opacity: 0; */
}


p:nth-child(2){ /*dash*/
  text-align: right;
  right: 29%;
  position: absolute;
  top: 60px;
}

 p:nth-child(3){  /*period*/
  right: 180px;
  top: 330px;
  position: absolute;
}

#colon{
  right: 180px;
  top: -180px;
  line-height: 10px;
  position: absolute;
}

.punctuation:hover {
color:red;
opacity:100;
}



 cursor: url('/YOUR_PATH/cursor.cur'), auto;

 @media