@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Regular.ttf");
    font-weight: normal;
  }

@font-face {
  font-family: "Junicode-Bold";
  src: url("Junicode-Bold.ttf") format("truetype");
}


body {
    background-color: white;
    font-family: "Junicode";
    background-color: white;
    font-size: 16px;
  }
  
