/*  Fonts */
@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Regular.ttf");
    font-weight: normal;
  }

@font-face {
  font-family: "Junicode-Bold";
  src: url("Junicode-Bold.ttf") format("truetype");
}

/* Body/Root */
body {
    background-color: white;
    font-family: "Junicode";
    background-color: white;
    font-size: 16px;
     /* Highlight Text Prevention */
     -webkit-user-select: none; /* Safari */
     -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
  }


  /* Homepage Header Styles  */
  #flex-container {
    display: flex;
    background-color: none;
    flex-direction: row;
     flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
  }

  .headers {
    font-size: 11vw;
    color: black;
    font-family: "Junicode-Bold";
    margin-top: -10vw;
    line-height:10px;
    margin-left:40px;
    margin-right: 40px;
    flex-grow: inherit;
    display: block;
    margin-left: -2px;
    margin-bottom: 100px;
    position: absolute;
}

h1{
  text-align: right;
  line-height: 2vw;
}

h2{
line-height: 2vw;
font-size: 2em;
margin-top: 10px
}

h3{
  font-size: 2em;
  line-height: 5vw;
  margin-top: 5vw;
}

/* Author Name */

#author{
  font-size: 4.5vw;
  line-height: 5vw;
  position: absolute;
  top: 26.8vw;
  right: 27vw;
}

.cool{
  font-family: "Junicode", serif;
}

.headers:hover .cool{
color: red;
}

/* Header Punctuation Marks */





/* Introduction Styles */

#intro{
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: "Junicode", serif;
 line-height: 6vw;
 flex-wrap: wrap;
 top: 62vw;
 margin-bottom: 120vw;
}

.commas{
  opacity: 0;
  font-size: 5vw;
  font-family: "Junicode", serif;
  flex-direction: row;
position: absolute;
margin-bottom: 50vw;
}

#intro:hover .commas {
  color:red;
  opacity:100;
  position: absolute;
  display: inline;
  }

 #one{
  font-family: "Junicode", serif;
  margin-top: -75.5vw;
  margin-left: 32.4vw;
  position: absolute;
 }

 #two{
  font-family: "Junicode", serif;
  margin-left: 56.4vw;
  margin-top: -75.5vw;
 }



/* Start Menu */

.Enter{
text-align: center;
font-size: 6vw;
font-family: "Junicode", serif;
flex-wrap: nowrap;
margin-bottom: 32vw;
margin-top: 50vw;
}

#En{
  margin-bottom: 450px;
  left: 47vw;
  position: absolute;
}

#Hyphen{
  text-align: center;
  left: 43.5vw;
 position: absolute;
}

a{
  text-decoration: none;
  opacity: 0;
}

a:hover {
  color:red;
  opacity:100;
}



/* Cursor Styles */
@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px red;
  }
}



 /* Media Queries */

 @media (min-width: 600px) {

 }



 /* ------------------------------- */

 /* Note to Self: Put the following on second page
#period{
} 
  #period:hover{     
    color:red;
     opacity:100;
      }  */

/* ------------------------------- */

/* circle { 
  position: absolute;
  width: 200px;
  height: 20px;
  background: radial-gradient(16px, transparent, transparent 4px, black 4px, black 10px, transparent 11px);
  background-size: 30px 40px;
}

.circle2 {
  Offset to make squigglies line up 
  top: 20px;
  left: 15px;
  background-position: 0px -20px;
} */